fastapi
uvicorn
faiss-cpu
numpy
pyttsx3
langchain 
sentence-transformers  
sqlalchemy 
psycopg2
SpeechRecognition
fitz
frontend
tools
PyMuPDF
pdfplumber
mysql-connector-python
pyodbc
redis
requests
python-dotenv
mistralai
google-genai
cohere
openai
replicate
